.header {
    display: block;
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 16px;
    background-color: rgb(228, 228, 228);
}

.nav {
    background-color: red;
}

@media (min-width >= 765px) {
    .nav {
        display: none;
    }   
}