.header {
    padding: 3rem 1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 70px;
}

.content {
    padding-inline: 1rem;
    overflow-y: auto;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn {
    width: 150px;
    height: 120px;
    border-radius: 16px;
    border: 2px solid var(--main-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
    padding: .25rem;
    /* background-color: var(--main-color); */
    color: var(--main-color);
}

.btnBlock {
    user-select: none;
    border: 2px solid var(--accent-light);
}



.iconDesc {
    margin: 0;
    line-height: 1;
    font-weight: 500;
}

.carDesc {
    font-size: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    fill: var(--main-color);
}

.title {
    color: var(--text-color);
    font-size: 20px;
    margin: 0;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calendar {
    display: flex;
    align-items: center;
    fill: var(--accent);
}

.sheduleAc {
    color: var(--accent);
    display: flex;
    align-items: center;
    gap: .75rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 3rem;
    border-radius: 16px;
    border: 1px solid var(--accent-light);
    margin-inline: .9rem;
    padding: 1rem;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: .35rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: .5rem;
}

.address {
    color: var(--accent);
    margin-bottom: 3rem;
}

.item {
    display: flex;
    flex-direction: column;
}

.item_title {
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.item_desc {
    color: var(--text-color);
    margin: 0;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.time, .dist {
    margin: 0;
    line-height: 1;
    letter-spacing: .005rem;
}


.time {
    font-size: 20px;
}

.dist {
    font-size: 16px;
}

.contentBlock {
    color: var(--accent);
    fill: var(--accent);
}

.subtitle {
    display: flex;
    align-items: center;
    gap: .40rem;
    font-weight: 400;
    margin: 0;
    color: var(--accent);
    margin-bottom: .5rem;
}

.shedule {
    margin-left: 1px;
    width: 24px;
    height: 24px;
    fill: var(--accent);
}

.waiting {
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 1.2;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.one {
    background-color: #30FF38;
}

.two {
    background-color: #D4E700;
}

.three {
    background-color: #FFA030;
}

.four {
    background-color: #FF6544;
}

.five {
    background-color: #FF4E4E;
}