.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.content {
    padding-inline: 1rem;
    overflow: auto;
}

.title {
    color: var(--text-color);
    margin: 0;
}

.indicator {
    border-block: 1px solid var(--accent);
}

.form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.segmentedControlRoot {
    border-radius: 6px;
    min-width: 100%;
    border: 1px solid var(--accent-light);
}

.control {
    min-height:45px;
}

.label {
    min-height: 45px;
}