.weekList {
    
}

.weekDay {
    border-bottom: 1px solid var(--accent);
    padding-block: .5rem;
}

.weekDay:last-child {
    border-bottom: inherit;
    padding-bottom: inherit;
}

.weekDay:first-child {
    padding-top: 0;
}

.title {
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}